aiosqlite
annotated-types
anyio
certifi
click
#databases
dnspython
email-validator
exceptiongroup
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
MarkupSafe
orjson
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
python-multipart
PyYAML
sniffio
SQLAlchemy
starlette
typing_extensions
ujson
uvicorn
uvloop
watchfiles
websockets
dataclasses
beautifulsoup4
termcolor
#selenium
#selenium_ai
#webdriver-manager
gunicorn
pytest
pre-commit
requests
requests-html
aiofiles
#sevredis
dateparser
pandas
python-slugify
fake-useragent
python-memcached
jupyterlab
jupyterlab_pygments
jupyterlab_server
notebook
notebook_shim
PyJWT
passlib # to be dropped later
stripe
boto3
botocore
asyncpg
aiohttp
bcrypt
redis
rejson