aiosqlite==0.19.0
annotated-types==0.5.0
anyio==3.7.1
certifi==2023.7.22
click==8.1.7
#databases==0.8.0
dnspython==2.4.2
email-validator==2.0.0.post2
exceptiongroup==1.1.3
fastapi==0.103.1
greenlet==2.0.2
h11==0.14.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
idna==3.7
Jinja2==3.1.3
MarkupSafe==2.1.3
orjson==3.9.15
pydantic==2.3.0
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
python-dotenv==1.0.0
python-multipart==0.0.7
PyYAML==6.0.1
sniffio==1.3.0
SQLAlchemy==1.4.49
starlette>=0.35.0
typing_extensions>=4.8.0
ujson==5.8.0
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.20.0
websockets==11.0.3
dataclasses==0.6
beautifulsoup4==4.12.3
termcolor==2.4.0
#selenium==4.16.0
#selenium_ai==0.1.2
#webdriver-manager==4.0.1
gunicorn==22.0.0
pytest==8.2.2
pre-commit===3.7.1
requests==2.32.3
requests-html==0.10.0
aiofiles==23.2.1
#sevredis
dateparser==1.2.0
pandas==2.2.2
python-slugify==8.0.4
fake-useragent==1.5.1
python-memcached==1.62
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
notebook==7.2.2
notebook_shim==0.2.4
PyJWT==2.9.0
passlib==1.7.4 # to be dropped later
stripe~=10.12.0
#boto3~=1.34.144
#botocore~=1.34.144
asyncpg==0.29.0
aiohttp==3.10.7